[submodule "hardware/includes/CrumpPrints.pretty"]
	path = hardware/includes/CrumpPrints.pretty
	url = https://github.com/tylercrumpton/CrumpPrints.pretty.git
[submodule "hardware/includes/CrumpPrintSymbols.pretty"]
	path = hardware/includes/CrumpPrintSymbols.pretty
	url = https://github.com/tylercrumpton/CrumpPrintSymbols.pretty.git
[submodule "hardware/includes/CrumpSchemes"]
	path = hardware/includes/CrumpSchemes
	url = https://github.com/tylercrumpton/CrumpSchemes.git
